<section id="portfolio">
  <div _ngcontent-vpm-c79="" class="col-md-8 text-center no-trans mx-auto">
    <h2 _ngcontent-vpm-c79="" class="title">Productos Destacados</h2>
    <h6 _ngcontent-vpm-c79="" class="subtitle">Descubre nuestras selecciones cuidadosamente elegidas para ti</h6>
  </div>
  
  <section class="productos">
    <div class="producto">
      <div class="imagen-producto">
        <img src="assets/img/destacado1.png" alt="Producto 1">
      </div>
      <h5>Vino Gran Rose</h5>
      <a routerLink="/producto1" class="ver-mas">Ver más</a>
    </div>
  
    <div class="producto">
      <div class="imagen-producto">
        <img src="assets/img/destacado2.jpg" alt="Producto 2">
      </div>
      <h5>Golosinas Trome</h5>
      <a routerLink="/producto2" class="ver-mas">Ver más</a>
    </div>
  
    <div class="producto">
      <div class="imagen-producto">
        <img src="assets/img/inkachip.jpg" alt="Producto 3">
      </div>
      <h5>Inka Chips</h5>
      <a routerLink="/producto2" class="ver-mas">Ver más</a>
    </div>
  </section>
  
  
</section>
