<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="woocommerce_product_categories-2" class="wd-widget widget sidebar-widget woocommerce widget_product_categories">
                    <h5 class="widget-title">Categorías</h5>
                    <ul class="product-categories">
                        <li class="cat-item cat-item-16 cat-parent">
                            <a href="#">Alimentos</a> 
                            <ul class="children">
                                <li class="cat-item cat-item-23"><a href="#">Abarrotes</a> </li>
                                <li class="cat-item cat-item-23"><a href="#">Conservas</a> </li>

                            </ul>
                        </li>
                        <li class="cat-item cat-item-26 cat-parent">
                            <a href="#">Bebidas</a>
                            <ul class="children">
                                <li class="cat-item cat-item-27"><a href="#">Aguas</a> </li>
                                <li class="cat-item cat-item-27"><a href="#">Jugos</a> </li>
                                <li class="cat-item cat-item-27"><a href="#">Gaseosas</a> </li>

                            </ul>
                        </li>
                        <li class="cat-item cat-item-26 cat-parent">
                            <a href="#">Cereales</a>
                            <ul class="children">
                                <li class="cat-item cat-item-27"><a href="#">Barras</a> </li>
                                <li class="cat-item cat-item-27"><a href="#">Cereales</a> </li>

                            </ul>
                        </li>
                        <li class="cat-item cat-item-26 cat-parent">
                            <a href="#">Gaelletas y Golosinas</a>
                            <ul class="children">
                                <li class="cat-item cat-item-27"><a href="#">Galletas</a> </li>
                                <li class="cat-item cat-item-27"><a href="#">Panetones</a> </li>
                                <li class="cat-item cat-item-27"><a href="#">Chocolates</a> </li>
                                <li class="cat-item cat-item-27"><a href="#">Gomitas</a> </li>
                            </ul>
                        </li>
                        <li class="cat-item cat-item-26 cat-parent">
                            <a href="#">Licores</a>
                            <ul class="children">
                                <li class="cat-item cat-item-27"><a href="#">Vinos</a> </li>
                                <li class="cat-item cat-item-27"><a href="#">Whisky</a> </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-md-9">
                <div class="row">

                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            
                            <img class="img-fluid" src="assets/img/lucky.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Lucky Click&Roll</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        
                            <img class="img-fluid" src="assets/img/quei1.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Vino Santiago Queirolo Blanco X 750 ML</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                           
                            <img class="img-fluid" src="assets/img/queirolo2.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Vino Santiago Queirolo Rose 2 Lt</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                          
                            <img class="img-fluid" src="assets/img/inkachip.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Papas Fritas INKA CHIPS Sal de Mar Bolsa 33g</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            
                            <img class="img-fluid" src="assets/img/oreo.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Galleta OREO Original Paquete 6 un</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                          
                            <img class="img-fluid" src="assets/img/Lucky-Strike-Crush.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Lucky Strike Crush</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                          
                            <img class="img-fluid" src="assets/img/clubsocial.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Galleta CLUB SOCIAL Original Bolsa 144g</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                          
                            <img class="img-fluid" src="assets/img/chipsahoy.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Caja de galletas Chips Ahoy</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                          
                            <img class="img-fluid" src="assets/img/ritz.jpg">
                        </a>
                        <div class="portfolio-caption">
                            <h4>Caja de galletas Ritz</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</section>